.housing-tags {
    display: flex;
    gap: 10px;
    margin: 20px 0 24px 0;

    .housing-tag {
        min-width: 115px;
        height: 25px;
        padding: 5px 10px;
        border-radius: 10px;
        background: #ff6060;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Montserrat;
        font-weight: 700px;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0%;
        text-align: center;
        color: #fff;
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    .housing-tags {
        margin-top: 5px;
        gap: 10px;
        margin-bottom: 0;

        .housing-tag {
            min-width: 80px;
            height: 20px;
            padding: 3px 8px;
            font-size: 10px;
            border-radius: 5px;
        }
    }
}