.about-content {
  width: 1023px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

@media (max-width: 768px) {
    .about-content {
        width: 100%;
        gap: 20px;
    }
}