footer {
  background-color: rgba(0, 0, 0, 1);
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28.56px;
  padding: 66px 0 29px 0;

  p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    color: rgba(255, 255, 255, 1);
  }
}

@media (max-width: 768px) {
    footer {
        height: 209px;
        padding: 66px 0 58px 0;
        gap: 20px;

        p {
            width: 133px;
            font-size: 12px;
            line-height: 143%;
        }
    }
}