.housing-location {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    letter-spacing: 0%;
    color: #000;
    width: 100%;
    height: 26px;
    opacity: 1;
    margin: 0;
    white-space: nowrap;
    text-align: left;
}

@media (max-width: 768px) { 
    .housing-location {
        font-size: 14px;
        line-height: 143%;
        height: 100%;
    }
}